assignment1.txt
[{"id":"e25b9dd0.f9a93","type":"function","z":"dca359db.879698","name":"randomGenerator","func":"\n\nif (msg.payload<5){\n  msg.payload=\"Number \"+msg.payload+\" is a low number\";\n}\nelse{\n    msg.payload=\"Number \"+msg.payload+\" is a high number\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":310.5,"y":67,"wires":[["22ed1b3d.c461e4"]]},{"id":"22ed1b3d.c461e4","type":"debug","z":"dca359db.879698","name":"Output","active":true,"console":"false","complete":"payload","x":570,"y":76,"wires":[]},{"id":"c89eaad2.4f0988","type":"inject","z":"dca359db.879698","name":"","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":true,"x":111,"y":54,"wires":[["14f11ee4.401961"]]},{"id":"14f11ee4.401961","type":"random","z":"dca359db.879698","name":"random","low":"1","high":"10","inte":"true","x":306,"y":161,"wires":[["e25b9dd0.f9a93"]]}]